/* James R Von Holle
 * 2016
 * For Physics 211x Web Project
 * sytle.css
 * make stuff purty
*/
body, html{
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-family: "DejaVu Sans", sans-serif;
}

.parallax{
    background-image: url('JVH_5750.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    padding: 0;
    margin: 0;
}

.title-bar{
    color: white;
    position: absolute;
    left: 0;
    top: 20%;

    width: 100%;
    min-width: 100%;
    min-height: 55%;
    height: 55%;
    overflow: hidden;

    font-size: 36px;
}

.slide_image{
    background: #26353f;
    position: relative;
    left: 0;
    top: 0;
    width: 140000px;
    height: 520px;
    animation: slideshow 65s linear infinite; 
}

.slide_image .img{
    margin: 0 0 0;
    height: 520px;
    width: auto;
    padding: 0;
}

.slide_text{
    left: 0;
    bottom: 3.5%;
    position: absolute;
    animation: none;
    color: #f0f0f0;
    font-size: 52px;
    text-shadow: 2px 2px 1px black;
}

ul.top_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 2500;
}

ul.top_menu li {float: left;}

ul.top_menu li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}

ul.top_menu li a:hover { background-color: #555; }

li a, .drop_butt {
    display: block;
    color: #556;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.drop {
    display: block;
}

.ex_list {
    display: none;
    position: fixed;
    background-color: #26353f;
    min-width: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.ex_list.a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

@-webkit-keyframes slideshow{
    0%   { left: 0; }
    100% { lefat: -250%; }
} 

@keyframes slideshow{
    0%   { left: 0; }
    100% { left: -270%; }
}

.show { display: block; }

.ghc {
    right: 1%;
    top: 10%;
    display: block;
    position: absolute;
    background: rgba(204,204,204,0);
}

.boxes {
    display: block;
    position: absolute;
    left:5%;
    width: 90%;
    padding-bottom: 0;
    background: rgba(200,200,200,.85);
    border-radius: 15px 15px 15px 15px; 
}
.boxes .box_ul {
    top: 0%;
    left: 0%;
    position: absolute;
    width: 50%;
    height: 60%;
}.boxes .box_ur {
    top: 0%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 60%;
}

.boxes .box_lr {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 50%;
}.boxes .box_ll {
    top: 50%;
    left: 0;
    position: absolute;
    width: 50%;
    height: 50%;
    padding:0;
} .boxes .box_lc {
    top: 30%;
    left: 7%;
    position: absolute;
    width: 80%;
    height: 70%;
}

.box_card {
    max-height: 90%;
    top: 5%;
    left: 30%;
    position: absolute;
    max-width: 43%;
    text-align: center;
    transition: 0.3s;
    overflow: hidden;
}
.box_card .box_text {
    padding: 2px 16px;
}
.box_card .box_text h4{
    padding: 0;
    line-height: 1;
}
.box_card .box_text p{
    padding: 0;
}

.sources_list{
    position: absolute;
    top: 5%;
}
.sources_list li {
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
    list-style-type: none;
    margin: 15px;
    text-decoration: none;
    text-align: left;
}
.sources_list li h4 {
    color: #f2f2f2;
    text-shadow: 1px 1px 1px black;
    font-size: 42px;
    text-align: center;
    margin: 0;
}
.sources_list li a {
    color: #d8d8d8;
    text-align: left;
    text-shadow: 1px 1px 1px black;
    margin: 75px, 0, 0, 0;
}
/* GAME STUFF */
.start_ex{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    position: absolute;
}

.start_ex:hover { background-color: #3e8e41; }

.start_ex:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.hide_ex{
    display: none;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #c63521;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    z-index: 600;
    position: absolute;
}
.show { display: block; }

.hide_ex:hover { background-color: #832316; }

.hide_ex:active {
    background-color: #6d1d12;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

canvas{
    border: 1px solid #d3d3d3;
    background: rgba(204,204,204,.95);
    position: absolute;
    left: 5%;
    top: 7.5%;
    z-index: 500;
}

